div {
    color: white;
    border: 5px solid rgb(25, 25, 25);
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
}

h1 {
    color: red;
    text-align: center;
    align-content: center;
    font-size: 25px;
}

h3 {
    color: white;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

button {
    color: white;
    background-color: aqua;
    text-align: center;
    align-content: center;
    font-size: 15px;
    padding-inline: 25px;
    margin: 25px;
}

input {
    color: white;
    background-color: transparent;
    text-align: center;
    align-content: center;
    font-size: 15px;
    padding: 15px;
    margin: 25px;
}