.voyage {
    color: rgb(ff, ff, ff);
    border: 5px solid rgb(58, 58, 58);
    background-color: rgb(25, 25, 25);
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
}
div {
    color: rgb(255, 255, 255);
    border: 5px solid rgb(25, 25, 25);
    padding: 25px;
    margin: 25px;
    border-radius: 15px;
}

h1 {
    color: rgb(255, 0, 0);
    text-align: center;
    align-content: center;
    font-size: 25px;
}

h3 {
    color: white;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

button {
    color: white;
    background-color: rgb(25, 25, 25);
    text-align: center;
    align-content: center;
    font-size: 20px;
        padding-inline: 20px;
        margin: 20px;
}

input {
    color: white;
    background-color: transparent;
    text-align: center;
    align-content: center;
    font-size: 20px;
        padding: 10px;
        margin: 10px;
}